.nested-fields
  .row
    = f.input :sexe, as: :radio_buttons, collection: Bebe::SEXE, wrapper_html: {class: "span2"}
    = f.input :age, wrapper: :append, wrapper_html: {class: "span3"} do
      = f.input_field :age, class: "input-mini"
      %span.add-on semaines
    = f.input :poids, wrapper: :append, wrapper_html: {class: "span2"} do
      = f.input_field :poids, class: "input-mini"
      %span.add-on g
    = f.input :taille, wrapper: :append, wrapper_html: {class: "span2"} do
      = f.input_field :taille, class: "input-mini"
      %span.add-on cm
    = f.input :pc, wrapper: :append, wrapper_html: {class: "span2"} do
      = f.input_field :pc, class: "input-mini"
      %span.add-on cm
  .row
    = f.input :apgar1, wrapper_html: {class: "span1"}, input_html: {class: "input-mini"}
    = f.input :apgar5, wrapper_html: {class: "span1"}, input_html: {class: "input-mini"}
  .row
    - %w(malformation pathologie).each do |field|
      .span6
        .control-group
          = f.label field.to_sym
          .controls.controls-row
            = f.collection_select field.to_sym, Dossier::ONI, :first, :first, {include_blank: true}, class: "input-mini"
            = f.hidden_field "#{field}_tokens".to_sym, class: "input-xlarge #{field}_tokens", data: {load: f.object.send("#{field}s").map(&:libelle_and_id).to_json, placeholder: "Choisir les #{field}s"}

  .field_links
    = link_to "#", class: "btn btn-success btn-small validate_bebe" do
      %i.icon-ok.icon-white
      Valider
    = link_to_remove_association f, class: "btn btn-danger btn-small" do
      %i.icon-trash.icon-white
      Supprimer
    = link_to "#malformation", class: "btn show_malformation_tree", "data-toggle" => "modal" do
      %i.icon-list
      Arbre Malformations
    = link_to "#pathologie", class: "btn show_pathologie_tree", "data-toggle" => "modal" do
      %i.icon-list
      Arbre Pathologies
