.nested-fields
  .row
    = f.input :age, wrapper: :append, wrapper_html: {class: "span3"} do
      = f.input_field :age, class: "input-mini"
      %span.add-on semaines
    = f.input :sexe, collection: Bebe::SEXE, wrapper_html: {class: "span2"}, input_html: {class: "input-medium combobox"}
    = f.input :poids, wrapper: :append, wrapper_html: {class: "span2"} do
      = f.input_field :poids, class: "input-mini"
      %span.add-on g
  .row
    = f.input :taille, wrapper: :append, wrapper_html: {class: "span3"} do
      = f.input_field :taille, class: "input-mini"
      %span.add-on cm
    = f.input :pc, wrapper: :append, wrapper_html: {class: "span2"} do
      = f.input_field :pc, class: "input-mini"
      %span.add-on cm
    = f.input :apgar1, wrapper_html: {class: "span1"}, input_html: {class: "input-mini"}
    = f.input :apgar5, wrapper_html: {class: "span1"}, input_html: {class: "input-mini"}
  .row
    - %w(malformation pathologie).each do |field|
      .span6
        .control-group
          = f.label field.to_sym
          .controls.controls-row
            = f.collection_select field.to_sym, Dossier::ONI, :first, :first, {include_blank: true}, class: "input-mini"
            = f.hidden_field "#{field}_tokens".to_sym, class: "input-xlarge #{field}_tokens", value: (items = f.object.send("#{field}s")).map(&:id).join(","), data: {load: (items.map(&:libelle_and_id).to_json), "initial-ancestors" => field.classify.constantize.find(items.map(&:id)).map(&:ancestor_ids).flatten.uniq}, placeholder: "Choisir les #{field}s"
            = link_to "##{field}", class: "btn show_#{field}_tree", title: "Arbre #{field.capitalize.pluralize}", "data-toggle" => "modal" do
              %i.icon-list

  .field_links
    = link_to "#", class: "btn btn-small validate_bebe" do
      %i.icon-chevron-up
      Fermer
    = link_to_remove_association f, class: "btn btn-danger btn-small", data: {confirm: "Confirmer la suppression ?"} do
      %i.icon-remove.icon-white
      Annuler
