.nested-fields
  .row
    .col-sm-2
      .form-group
        = f.label :age, class: 'control-label'
        .input-group
          = f.number_field :age, class: 'form-control'
          %span.input-group-addon semaines
  .row
    .col-sm-2
      = f.input :sexe, collection: Bebe::SEXE
    .col-sm-2
      .form-group
        = f.label :poids, class: 'control-label'
        .input-group
          = f.number_field :poids, class: 'form-control'
          %span.input-group-addon g
    .col-sm-2
      .form-group
        = f.label :taille, class: 'control-label'
        .input-group
          = f.number_field :taille, class: 'form-control'
          %span.input-group-addon cm
    .col-sm-2
      .form-group
        = f.label :pc, class: 'control-label'
        .input-group
          = f.number_field :pc, class: 'form-control'
          %span.input-group-addon cm
    - %w(1 5).each do |n|
      .col-sm-2
        = f.input :"apgar#{n}"
  .row
    - %w(malformation pathology).each do |field|
      - plural = field.pluralize
      .col-sm-6
        .row
          .col-sm-4
            = f.input field.to_sym, collection: Dossier::ONI
          .col-sm-6
            = f.association plural, input_html: { class: plural,
              data: { placeholder: "Choisir les #{plural}",
                multiple: true,
                'ajax--url': polymorphic_path(plural, format: :json) },
              style: 'width: 100%;' }
          .col-sm-2
            .bebe-actions
              = link_to fa_icon('list'), "##{field}",
                class: "btn btn-default show_#{field}_tree",
                title: "Arbre #{field.capitalize.pluralize}",
                'data-toggle': 'modal'

  .field_links
    = link_to "#", class: 'btn btn-default btn-sm validate_bebe' do
      = fa_icon 'chevron-up'
      Valider Nouveau-né
    = link_to_remove_association 'remove bebe', f, class: 'sr-only'
