.nested-fields
  = f.inputs do
    = f.input :sexe, as: :select, collection: ["Masculin", "Féminin", "Inconnu", "Indéterminé"]
    = f.input :poids, label: "Poids (g)"
    = f.input :taille, label: "Taille (cm)"
    = f.input :pc, label: "PC (cm)"
    = f.input :apgar1, label: "Apgar 1"
    = f.input :apgar5, label: "Apgar 5"
    = f.input :malforma, label: "Malformation", as: :select, collection: ["Oui", "Non", "Ne sait pas"]
    .inline-inputs.malforma_tokens
      = f.label :malformation_tokens, "Malformations"
      = f.text_area :malformation_tokens, "data-pre" => f.object.malformations.map(&:libelle_and_id).to_json, class: "malformation_tokens"
    = f.input :patho, label: "Pathologie", as: :select, collection: ["Oui", "Non", "Ne sait pas"]
    .field_links
      = link_to "Valider", "#", class: "btn success validate_bebe small"
      = link_to_remove_association "Supprimer", f, class: "btn danger small"
      = link_to "Montrer/Modifier Malformations", "#", class: "btn show_malformation_tree", "data-backdrop" => true
    = render "malformations/tree", bebe: f.object
