.nested-fields
  = f.input :sexe, as: :radio_buttons, collection: Bebe::SEXE, item_wrapper_class: "inline"
  .control-group.inline-inputs
    = f.label "Poids"
    .controls
      = f.text_field :poids, placeholder: "g", class: "span1"
      = f.label "Taille"
      = f.text_field :taille, placeholder: "cm", class: "span1"
      = f.label "Périmètre crânien"
      = f.text_field :pc, placeholder: "cm", class: "span1"
  .control-group.inline-inputs
    = f.label "Apgar"
    .controls
      = f.text_field :apgar1, placeholder: "1'", class: "span1"
      = f.text_field :apgar5, placeholder: "5'", class: "span1"
  = f.input :malformation, label: "Malformation", as: :select, collection: ["Oui", "Non", "Ne sait pas"]
  .control-group.inline-inputs.malformation_tokens
    = f.label :malformation_tokens, "Malformations"
    .controls
      = f.text_area :malformation_tokens, "data-pre" => f.object.malformations.map(&:libelle_and_id).to_json, class: "malformation_tokens"
  = f.input :pathologie, label: "Pathologie", as: :select, collection: ["Oui", "Non", "Ne sait pas"]
  .control-group.inline-inputs.pathologie_tokens
    = f.label :pathologie_tokens, "Pathologies"
    .controls
      = f.text_area :pathologie_tokens, "data-pre" => f.object.pathologies.map(&:libelle_and_id).to_json, class: "pathologie_tokens"
  .field_links
    = link_to "Valider", "#", class: "btn success validate_bebe small"
    = link_to_remove_association "Supprimer", f, class: "btn danger small"
    = link_to "Arbre Malformations", "#", class: "btn show_malformation_tree", "data-backdrop" => true
    = link_to "Arbre Pathologies", "#", class: "btn show_pathologie_tree", "data-backdrop" => true
  = render "malformations/tree", bebe: f.object
  = render "pathologies/tree", bebe: f.object
