%tr
  %td= dossier.code
  %td= dossier.date_appel
  %td= dossier.name
  %td= dossier.motif_code
  %td= dossier.expositions
  %td= dossier.evolution
  %td= dossier.malformation
  %td= dossier.pathologie
  %td
    = link_to "#", id: dossier.id, class: "btn btn-small opener", title: "Aperçu du dossier #{dossier.code}" do
      %i.icon-eye-open
    = link_to dossier_path(dossier), class: "btn btn-small", title: "Détails du dossier #{dossier.code}" do
      %i.icon-info-sign

= render 'shared/dossier_modal', dossier: dossier
