- if dossiers.any?
  .row
    .span4= "#{dossiers.total_count} dossiers"
  %table.table.table-striped.table-condensed
    %thead
      %th= sortable "code", "N° Appel", Dossier
      %th= sortable "date_appel", "Date Appel", Dossier
      %th= sortable "name", "Patiente", Dossier
      %th= sortable "motif_id", "Motif", Dossier
      %th.ui-state-default Exposition
      %th.ui-state-default Evolution
      %th.ui-state-default Malf
      %th.ui-state-default Path
      %th.ui-state-default
    %tbody#dossiers
      = render dossiers

  = paginate dossiers, theme: "twitter-bootstrap"

- else
  Aucun dossier avec ces critères
