%tr{id: "dossier#{dossier.code}"}
  %td= dossier.code
  %td= dossier.date_appel
  %td= dossier.name
  %td= dossier.motif_code
  %td= dossier.expositions
  %td= dossier.evolution
  %td= dossier.malformation
  %td= dossier.pathologie
  %td
    .btn-group
      = link_to content_tag(:span, nil, class: "glyphicon glyphicon-print"), "#",
        data: {base_url: dossier_path(dossier), target: "#dossier_modal", toggle: "modal", dossier_code: dossier.code},
        title: "Imprimer le dossier #{dossier.code}", class: "btn btn-default btn-sm show-dossier-modal"
      = link_to content_tag(:span, nil, class: "glyphicon glyphicon-pencil"),
        edit_dossier_path(dossier), title: "Modifier le dossier #{dossier.code}", class: "btn btn-default btn-sm"
