.row
  .col-lg-6.col-sm-6
    = f.input :evolution, collection: Dossier::EVOLUTION,
      hint: "Compléter le champ malformation si un examen anatomo-pathologique interprétable a été effectué"

.row.issue
  = f.input :modaccouch, collection: Dossier::MODACCOUCH, wrapper_html: {class: "col-lg-3 col-sm-3", id: "modaccouch"}, input_html: {data: {placeholder: "Choisir..."}}
  = f.input :terme, wrapper_html: {class: "col-lg-3 col-sm-3"}
  = f.input :date_reelle_accouchement, as: :string, wrapper_html: {class: "col-lg-3 col-sm-3", id: "date_reelle_accouchement"}, input_html: {data: {value: date_reelle_accouchement}}
  = f.input :date_recueil_evol, as: :string, wrapper_html: {class: "col-lg-3 col-sm-3", id: "date_recueil_evol"}, input_html: {data: {value: date_recueil_evol}}
