.row
  .col-sm-3
    = f.group do
      = f.label :evolution
      = f.collection_select :evolution, Dossier::EVOLUTION, :to_s, :to_s, {include_blank: true}
      %p.help-block Compléter le champ malformation si un examen anatomo-pathologique interprétable a été effectué

.row.issue
  .col-sm-3#modaccouch
    = f.group do
      = f.label :modaccouch
      = f.collection_select :modaccouch, Dossier::MODACCOUCH, :to_s, :to_s, {prompt: "Choisir..."}
  .col-lg-2.col-sm-3#date_reelle_accouchement
    = f.group do
      = f.label :date_reelle_accouchement
      = f.text_field :date_reelle_accouchement, data: {value: date_reelle_accouchement}
  .col-lg-2.col-sm-3
    = f.group do
      = f.label :terme
      = f.number_field :terme
  .col-lg-2.col-sm-3#date_recueil_evol
    = f.group do
      = f.text_field :date_recueil_evol, data: {value: date_recueil_evol}
