.row
  .col-sm-3
    = f.input :evolution, collection: Dossier::EVOLUTION,
      hint: "Compléter le champ malformation si un examen anatomo-pathologique interprétable a été effectué"

.row.issue
  .col-sm-3#modaccouch
    = f.input :modaccouch, collection: Dossier::MODACCOUCH, prompt: "Choisir..."
  .col-lg-2.col-sm-3#date_reelle_accouchement
    = f.input :date_reelle_accouchement, as: :string,
      input_html: { data: { value: date_reelle_accouchement } }
  .col-lg-2.col-sm-3
    = f.input :terme
  .col-lg-2.col-sm-3#date_recueil_evol
    = f.input :date_recueil_evol,
      input_html: { data: { value: date_recueil_evol } }
