= f.association :evolution, as: :radio_buttons, collection: evolutions,
  label_method: lambda {|i| %w(FCS IVG IMG MIU).include?(i.name) ? "#{i.name} *" : i.name }, hint: "* Dans ces cas, et si il y a eu un examne anatomo-pathologique interprétable, allez dans l'onglet nouveau-né pour compléter le champ malformation", item_wrapper_class: "inline"
= f.input :modaccouch, label: "Accouchement", as: :radio_buttons, collection: Dossier::MODACCOUCH, item_wrapper_class: "inline"
= f.input :path_mat, label: "Pathologie Mat.", as: :radio_buttons, collection: Dossier::ONI, item_wrapper_class: "inline"
= f.input :terme, label: "Terme (SA)"
= f.input :date_reelle_accouchement, as: :string, input_html: {"data-value" => date_reelle_accouchement, class: "dateITA"}
