.nested-fields
  = f.association :expo_type, label: "Type"
  = f.association :produit, label: "Exposition", input_html: {class: "span10"}
  = f.association :indication, input_html: {class: "span10"}
  .control-group.inline-inputs
    = f.label "Période Expo (en SA)"
    .controls
      = f.text_field :de, class: "span1", placeholder: "De"
      = f.text_field :a, class: "span1", placeholder: "à"
      = f.text_field :duree, class: "span2", placeholder: "Durée"
  .control-group.inline-inputs
    = f.label "Reprise ttt "
    .controls
      = f.text_field :de2, class: "span1", placeholder: "De"
      = f.text_field :a2, class: "span1", placeholder: "à"
      = f.text_field :duree2, class: "span2", placeholder: "Durée"
  = f.association :expo_nature, label: "Nature"
  = f.input :dose, label: "Posologie"
  = f.association :expo_terme, label: "Terme d'exposition"
  = f.input :medpres, as: :radio_buttons, collection: Exposition::ONNSP, label: "Prescription", hint: "à remplir en cas de demande d'aide à la prescription", item_wrapper_class: "inline"
  .field_links
    = link_to "Valider", "#", class: "btn success validate_expo small"
    = link_to_remove_association "Supprimer", f, class: "btn danger small"
