.nested-fields
  .row
    = f.association :expo_type, wrapper_html: {class: "span6"}, input_html: {class: "span5 combobox"}
    = f.association :expo_nature, wrapper_html: {class: "span6"}, input_html: {class: "span5 combobox"}
  .row
    = f.input :produit_name, as: :autocomplete, url: autocomplete_produit_name_dossiers_path, wrapper_html: {class: "span6"}, input_html: {class: "span5"}
    = f.input :indication_name, as: :autocomplete, url: autocomplete_indication_name_dossiers_path, wrapper_html: {class: "span6"}, input_html: {class: "span5"}
  .row
    = f.association :voie, wrapper_html: {class: "span3"}, input_html: {class: "span2 combobox"}
    = f.input :dose, wrapper_html: {class: "span3"}, input_html: {class: "span2"}, hint: "par exemple en mg/j"
    = f.input :medpres, as: :select, collection: Dossier::ONI, wrapper_html: {class: "span6"}, input_html: {class: "input-mini"}, hint: "à remplir en cas de demande d'aide à la prescription"

  .row
    .span6
      .control-group
        = f.label :de
        .controls.controls-row
          .input-append
            = f.text_field :de, class: "de input-mini", placeholder: "De"
            = button_tag class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :de_date, class: "input-small date_expo"
            = f.text_field :a, class: "input-mini duree", placeholder: "à"
            = button_tag class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :a_date, class: "input-small date_expo"
            = f.text_field :duree, class: "input-mini", placeholder: "durée"
    .span6
      .control-group
        = f.label :de2
        .controls.controls-row
          .input-append
            = f.text_field :de2, class: "de input-mini", placeholder: "De"
            = button_tag class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :de2_date, class: "input-small date_expo"
            = f.text_field :a2, class: "input-mini duree", placeholder: "à"
            = button_tag class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :a2_date, class: "input-small date_expo"
            = f.text_field :duree2, class: "input-mini", placeholder: "durée"

  = f.association :expo_terme, input_html: {class: "span2 combobox"}

  .field_links
    = link_to "#", class: "btn btn-small btn-success validate_expo" do
      %i.icon-ok.icon-white
      Valider
    = link_to_remove_association f, class: "btn btn-danger btn-small" do
      %i.icon-trash.icon-white
      Supprimer
