.nested-fields
  .row
    - %w(type nature).each do |field|
      - field_name = "expo_#{field}"
      .col-sm-6
        = f.association field_name
  .row
    .col-sm-6
      = f.association :produit,
        collection: f.object.produit.present? ? Produit.where(id: f.object.produit_id) : [],
        input_html: { class: 'produit_autocomplete',
        data: { placeholder: 'Saisir un produit',
          'ajax--url': produits_path(format: :json) },
        style: 'width: 100%;' }

    .col-sm-6
      .row
        .col-sm-10
          = f.association :indication,
            collection: f.object.indication.present? ? Indication.where(id: f.object.indication_id) : [],
            input_html: { class: 'indication_autocomplete',
            data: { placeholder: 'Saisir une indication',
              'ajax--url': indications_path(format: :json) },
            style: 'width: 100%;' }
        .col-sm-2
          .indication-actions
            = link_to fa_icon('list'), '#indication',
              class: 'btn btn-default show_indications_tree',
              title: 'Arbre Indications}',
              'data-toggle': 'modal'

  .row
    .col-sm-4
      = f.association :voie
    .col-sm-4
      = f.input :dose, hint: 'par exemple en mg/j'
    .col-sm-4
      = f.association :expo_terme

  - [["periode_expo", ""], ["reprise_ttt", "2"]].each do |item|
    - pexpo_class = item[0]
    - suffix = item[1]
    %div{class: pexpo_class}
      = f.label :"de#{suffix}", t("de#{suffix}", scope: [:activerecord, :attributes, :exposition]),
        class: 'control-label'
      .row
        %div{class: "de#{suffix}"}
          .col-sm-2
            = f.input :"de#{suffix}_date", as: :string,
              label: false, input_html: { class: 'date_expo form-control' }
          .col-sm-2
            = f.input :"de#{suffix}",
              label: false,
              placeholder: 'de (SA)', input_html: { class: 'sa_expo form-control' }

        %div{class: "a#{suffix}"}
          .col-sm-2
            = f.input :"a#{suffix}_date", as: :string,
              label: false,
              input_html: { class: 'date_expo form-control' }
          .col-sm-2
            = f.input :"a#{suffix}", placeholder: "à (SA)",
              label: false,
              input_html: { class: 'sa_expo form-control' }
        .col-sm-2
          = f.input :"duree#{suffix}", placeholder: "durée",
            label: false,
            input_html: { class: 'duree form-control' }

  .field_links
    = link_to '#', class: 'btn btn-default btn-sm validate_expo' do
      = fa_icon 'chevron-up'
      Valider Exposition
    = link_to_remove_association 'remove exposition', f, class: 'sr-only'
