.nested-fields
  .row
    = f.association :expo_type, wrapper_html: {class: "span5"}, input_html: {class: "input-xlarge combobox", data: {placeholder: "Choisir le type d'exposition"}}
    = f.association :expo_nature, wrapper_html: {class: "span5"}, input_html: {class: "input-xlarge combobox", data: {placeholder: "Choisir la nature de l'exposition"}}
  .row
    - %w(produit indication).each do |field|
      - article = field == "produit" ? "un" : "une"
      .span5
        .control-group
          = f.label field.to_sym
          .controls
            = f.hidden_field "#{field}_id".to_sym, class: "input-xxlarge #{field}_autocomplete", data: {load: f.object.send(field).try(:name_and_id), placeholder: "Saisir #{article} #{field}"}
  .row
    = f.association :voie, wrapper_html: {class: "span3"}, input_html: {class: "input-medium combobox", data: {placeholder: "Choisir..."}}
    = f.input :dose, wrapper_html: {class: "span3"}, input_html: {class: "span2"}, hint: "par exemple en mg/j"
    = f.input :medpres, as: :select, collection: Dossier::ONI, wrapper_html: {class: "span5"}, input_html: {class: "input-mini"}, hint: "à remplir en cas de demande d'aide à la prescription"

  .row
    .span5
      .control-group
        = f.label :de
        .controls.controls-row
          .input-append
            = f.text_field :de, class: "de input-mini", placeholder: "De"
            = button_tag tabIndex: "-1", type: :button, class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :de_date, class: "input-small date_expo"
            = f.text_field :a, class: "input-mini duree_calc", placeholder: "à"
            = button_tag tabIndex: "-1", type: :button, class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :a_date, class: "input-small date_expo"
            = f.text_field :duree, class: "input-mini duree", placeholder: "durée"
    .span6
      .control-group
        = f.label :de2
        .controls.controls-row
          .input-append
            = f.text_field :de2, class: "de input-mini", placeholder: "De"
            = button_tag tabIndex: "-1", type: :button, class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :de2_date, class: "input-small date_expo"
            = f.text_field :a2, class: "input-mini duree_calc", placeholder: "à"
            = button_tag tabIndex: "-1", type: :button, class: "btn calendar" do
              %i.icon-calendar
            = f.text_field :a2_date, class: "input-small date_expo"
            = f.text_field :duree2, class: "input-mini duree", placeholder: "durée"

  .row
    = f.association :expo_terme, wrapper_html: {class: "span6"}, input_html: {class: "input-medium combobox", data: {placeholder: "Choisir..."}}

  .field_links
    = link_to "#", class: "btn btn-small validate_expo" do
      %i.icon-chevron-up
      Fermer
    = link_to_remove_association f, class: "btn btn-danger btn-small", data: {confirm: "Confirmer la suppression ?"} do
      %i.icon-remove.icon-white
      Annuler
