.nested-fields
  .row
    .col-lg-6.col-sm-6
      = f.association :expo_type
    .col-lg-6.col-sm-6
      = f.association :expo_nature
  .row
    - %w(produit indication).each do |field|
      - article = field == "produit" ? "un" : "une"
      .col-lg-6.col-sm-6
        .form-group
          = f.label field.to_sym
          = f.hidden_field :"#{field}_id", class: "#{field}_autocomplete", data: {load: f.object.send(field).try(:name_and_id), placeholder: "Saisir #{article} #{field}"}
  .row
    .col-lg-4.col-sm-4
      = f.association :voie
    .col-lg-4.col-sm-4
      = f.input :dose, hint: "par exemple en mg/j"
    .col-lg-4.col-sm-4
      = f.association :expo_terme

  .row
    - [["periode_expo", ""], ["reprise_ttt", "2"]].each do |item|
      - pexpo_class = item[0]
      - suffix = item[1]
      %div{class: "#{pexpo_class} col-lg-12"}
        = f.label :"de#{suffix}"
        .row
          .col-lg-2.col-sm-2
            = f.text_field :"de#{suffix}", class: "form-control de", placeholder: "De"
          .col-lg-1.col-sm-1
            = button_tag tabIndex: "-1", type: :button, class: "btn btn-default calendar" do
              %span.glyphicon.glyphicon-calendar
          .col-lg-2.col-sm-2
            = f.text_field :"de#{suffix}_date", class: "form-control date_expo"
          .col-lg-2.col-sm-2
            = f.text_field :"a#{suffix}", class: "form-control duree_calc", placeholder: "à"
          .col-lg-1.col-sm-1
            = button_tag tabIndex: "-1", type: :button, class: "btn btn-default calendar" do
              %span.glyphicon.glyphicon-calendar
          .col-lg-2.col-sm-2
            = f.text_field :"a#{suffix}_date", class: "form-control date_expo"
          .col-lg-2.col-sm-2
            = f.text_field :"duree#{suffix}", class: "form-control duree", placeholder: "durée"

  .row
    .col-lg-2.col-lg-offset-10.col-sm-offset-10.col-sm-2
      .field_links
        = link_to "#", class: "btn btn-success btn-sm validate_expo" do
          %span.glyphicon.glyphicon-chevron-up
          Valider Exposition
