.nested-fields
  .row
    - %w(type nature).each do |field|
      - field_name = "expo_#{field}"
      .col-sm-6
        = f.association field_name
  .row
    - %w(produit indication).each do |field|
      - article = field == "produit" ? "un" : "une"
      .col-sm-6
        = f.association field, input_html: { class: "#{field}_autocomplete",
          data: { placeholder: "Saisir #{article} #{field}",
            'ajax--url': polymorphic_path(field.pluralize, format: :json) },
          style: 'width: 100%;' }
  .row
    .col-sm-4
      = f.association :voie
    .col-sm-4
      = f.input :dose, hint: 'par exemple en mg/j'
    .col-sm-4
      = f.association :expo_terme

  .row
    - [["periode_expo", ""], ["reprise_ttt", "2"]].each do |item|
      - pexpo_class = item[0]
      - suffix = item[1]
      %div{class: "#{pexpo_class} col-sm-12"}
        = f.label :"de#{suffix}", t("de#{suffix}", scope: [:activerecord, :attributes, :exposition]),
          class: 'control-label'
        .row
          .col-sm-2
            = f.input :"de#{suffix}_date", as: :string,
              label: false,
              input_html: { class: 'de_date form-control' }
          .col-sm-2
            = f.input :"de#{suffix}",
              label: false,
              placeholder: 'de (SA)',
              input_html: { class: 'de form-control' }
          .col-sm-2
            = f.input :"a#{suffix}_date", as: :string,
              label: false,
              input_html: { class: 'a_date form-control' }
          .col-sm-2
            = f.input :"a#{suffix}", placeholder: "à (SA)",
              label: false,
              input_html: { class: 'a form-control' }
          .col-sm-2
            = f.input :"duree#{suffix}", placeholder: "durée",
              label: false,
              input_html: { class: 'duree form-control' }

  .field_links
    = link_to '#', class: 'btn btn-default btn-sm validate_expo' do
      = fa_icon 'chevron-up'
      Valider Exposition
    = link_to_remove_association 'remove exposition', f, class: 'sr-only'
