.nested-fields
  = f.association :expo_type, label: "Type", input_html: {class: "span7"}
  = f.input :produit_name, url: autocomplete_produit_name_dossiers_path, as: :autocomplete, label: "Exposition", input_html: {class: "span7"}
  = f.input :indication_name, url: autocomplete_indication_name_dossiers_path, as: :autocomplete, label: "Indication", input_html: {class: "span7"}
  = f.association :expo_nature, label: "Nature"

  .inline-inputs
    .control-group
      = f.label "Période Expo (en SA)", class: "control-label"
      .controls
        .input-append
          = f.text_field :de, class: "de span1", placeholder: "De"
          = button_tag class: "btn calendar" do
            %i.icon-calendar
          = f.text_field :de_date, style: "display: none;", class: "span2"
        .input-append
          = f.text_field :a, class: "span1 duree", placeholder: "à"
          = button_tag class: "btn calendar" do
            %i.icon-calendar
          = f.text_field :a_date, style: "display: none;", class: "span2"
    .control-group
      = f.label "Durée", class: "control-label"
      .controls
        = f.text_field :duree, class: "span1"
  .inline-inputs
    .control-group
      = f.label "Reprise ttt ", class: "control-label"
      .controls
        .input-append
          = f.text_field :de2, class: "de span1", placeholder: "De"
          = button_tag class: "btn calendar" do
            %i.icon-calendar
          = f.text_field :de2_date, style: "display: none;", class: "span2"
        .input-append
          = f.text_field :a2, class: "span1 duree", placeholder: "à"
          = button_tag class: "btn calendar" do
            %i.icon-calendar
          = f.text_field :a2_date, style: "display: none;", class: "span2"
    .control-group
      = f.label "Durée", class: "control-label"
      .controls
        = f.text_field :duree2, class: "span1"

  = f.association :expo_terme, label: "Terme d'exposition"
  .control-group.string.optional
    = f.label :dose, "Posologie", class: "string optional control-label"
    .controls
      = f.text_field :dose
      %span.help-inline par example en mg/j
  = f.association :voie, label: "Voie d'exposition"
  .control-group.select.optional
    = f.label :medpres, "Prescription", class: "select optional control-label"
    .controls
      = f.collection_select :medpres, Dossier::ONI, :last, :first, {include_blank: true}, {class: "span1"}
      %span.help-inline à remplir en cas de demande d'aide à la prescription
  .field_links
    = link_to "#", class: "btn btn-small btn-success validate_expo" do
      %i.icon-ok.icon-white
      Valider
    = link_to_remove_association f, class: "btn btn-danger btn-small" do
      %i.icon-trash.icon-white
      Supprimer
