.nested-fields
  .row
    - %w(type nature).each do |field|
      - field_name = "expo_#{field}"
      .col-sm-6
        = f.group do
          = f.label :"#{field_name}_id", t(field_name, scope: [:activerecord, :attributes, :exposition])
          = f.collection_select :"#{field_name}_id", field_name.classify.constantize.all, :id, :name, include_blank: true
  .row
    - %w(produit indication).each do |field|
      - article = field == "produit" ? "un" : "une"
      .col-sm-6
        = f.group do
          = f.label :"#{field}_id", t(field, scope: [:activerecord, :attributes, :exposition])
          = f.hidden_field :"#{field}_id", class: "#{field}_autocomplete", data: {load: f.object.send(field).try(:name_and_id), placeholder: "Saisir #{article} #{field}"}
  .row
    .col-sm-4
      = f.group do
        = f.label :voie_id, t(:voie_id, scope: [:activerecord, :attributes, :exposition])
        = f.collection_select :voie_id, Voie.all, :id, :name, include_blank: true
    .col-sm-4
      = f.group do
        = f.label :dose, t(:dose, scope: [:activerecord, :attributes, :exposition])
        = f.text_field :dose
        %span.help-block par exemple en mg/j
    .col-sm-4
      = f.group do
        = f.label :expo_terme_id, t(:expo_terme, scope: [:activerecord, :attributes, :exposition])
        = f.collection_select :expo_terme_id, ExpoTerme.all, :id, :name, include_blank: true

  .row
    - [["periode_expo", ""], ["reprise_ttt", "2"]].each do |item|
      - pexpo_class = item[0]
      - suffix = item[1]
      %div{class: "#{pexpo_class} col-sm-12"}
        = f.label :"de#{suffix}", t("de#{suffix}", scope: [:activerecord, :attributes, :exposition])
        .row
          .col-sm-2
            = f.group do
              = f.text_field :"de#{suffix}_date", class: "de_date"
          .col-sm-2
            = f.group do
              = f.text_field :"de#{suffix}", class: "de", placeholder: "de (SA)"
          .col-sm-2
            = f.group do
              = f.text_field :"a#{suffix}_date", class: "a_date"
          .col-sm-2
            = f.group do
              = f.text_field :"a#{suffix}", class: "a", placeholder: "à (SA)"
          .col-sm-2
            = f.group do
              = f.text_field :"duree#{suffix}", class: "duree", placeholder: "durée"

  .field_links
    = link_to "#", class: "btn btn-success btn-sm validate_expo" do
      %span.glyphicon.glyphicon-chevron-up
      Valider Exposition
    = link_to_remove_association "remove exposition", f, class: "sr-only"
