= semantic_form_for dossier do |f|
  = f.semantic_errors
  #tabs
    %ul
      %li= link_to "Informations générales", "#infos"
      %li= link_to "Patiente", "#patiente"
      %li= link_to "Exposition", "#expositions"

    #infos
      = f.inputs do
        = f.input :user_id, :as => :hidden
        = f.input :centre_id, :as => :hidden
        = f.input :code, :input_html => {:autofocus => true}
        = f.input :date_appel, :as => :string, :input_html => {:placeholder => "jj/mm/aaaa", :value => date_appel}
        = f.input :motif
        = f.input :correspondant_nom, label: "Correspondant", as: :autocomplete, url: autocomplete_correspondant_nom_dossiers_path, input_html: {id_element: "#dossier_correspondant_id"}
        = f.input :correspondant_id, as: :hidden

    #patiente
      = f.inputs do
        = f.input :name

    #expositions
      %table#expositions_summary
        %thead
          %tr
            %th
            %th Exposition
            %th Terme
            %th Indication
            %th Posologie
            %th De
            %th à
            %th Et de
            %th à
            %th expo_id
        %tbody
          %tr

      = f.inputs do
        = f.semantic_fields_for :expositions do |exposition|
          = render 'exposition_fields', :f => exposition
        .links
          = link_to_add_association 'Ajouter Expo', f, :expositions
  = f.buttons do
    = f.commit_button :button_html => {:disable_with => "Attendre..."}
    %li.cancel.button= link_to "Annuler", :back, class: "button"

= content_for :footer do
  = debug "\nCentre : " + dossier.try(:centre_name) + "\nUser : " + dossier.username
