= simple_form_for dossier, html: { class: "form-horizontal saisie"} do |f|
  = f.error_notification if f.error_notification

  #tabs
    %ul
      %li= link_to "Informations générales", "#infos"
      %li= link_to "Grossesse", "#grossesse"
      %li= link_to "Exposition", "#expositions"
      %li= link_to "Evolution", "#evol"
      %li= link_to "Nouveau-né", "#bebes"
      %li= link_to "Commentaire", "#comm"

    #infos
      .control-group.inline-inputs
        = f.label "N° d'appel"
        .controls
          = f.text_field :code, class: "span2"
          %label Date d'appel
          = f.text_field :date_appel, autofocus: true, "data-value" => date_appel, class: "dateITA dateNotFuture span2"
      .control-group.inline-inputs
        = f.label "Motif"
        .controls
          = f.collection_select :motif_id, Motif.all, :id, :name, {}, {class: "span6"}
          = f.label "Témoin"
          %label.radio
            = f.radio_button :expo_terato, "0", class: "radio_buttons optional"
            Oui
          %label.radio
            = f.radio_button :expo_terato, "1", class: "radio_buttons optional"
            Non
          %label.radio
            = f.radio_button :expo_terato, "2", class: "radio_buttons optional"
            NSP
      .control-group.inline-inputs
        = f.label "Correspondant"
        .controls
          = f.autocomplete_field :correspondant_nom,
            autocomplete_correspondant_fullname_dossiers_path,
            id_element: "#dossier_correspondant_id", class: "span6"
          - if can?(:create, Correspondant)
            = link_to new_correspondant_path, target: "_blank", class: "btn create-correspondant" do
              %i.icon-plus
              Ajout
          - if can?(:update, Correspondant)
            = link_to "#", target: "_blank", class: "btn edit-correspondant" do
              %i.icon-pencil
              Voir/modifier
        = f.input :correspondant_id, as: :hidden
      .control-group.inline-inputs
        = f.label "Nom patiente"
        .controls
          = f.text_field :name
          = f.label "Prénom"
          = f.text_field :prenom
      .control-group.inline-inputs
        = f.label "Age"
        .controls
          = f.text_field :age, class: "span1"
          = f.label "Date de Naissance"
          = f.text_field :date_naissance, "data-value" => date_naissance, class: "dateITA dateNotFuture span2"
      .control-group.inline-inputs
        = f.label "Poids"
        .controls
          = f.text_field :poids, class: "span1"
          kg
          = f.label :taille
          = f.text_field :taille, class: "span1"
          cm
          <strong>IMC :</strong>
          %span#imc
      = f.association :categoriesp, label: "C.S.P.", input_html: {class: "span5"}
      .row
        .span1
          &nbsp;
        .span5
          %h4 Antécédents Personnels
          .control-group.radio_buttons.optional.no-label
            .controls
              .radio-wrap
                %label.radio
                  = f.radio_button :antecedents_perso, "0", class: "radio_buttons optional"
                  = "Oui"
                %label.radio
                  = f.radio_button :antecedents_perso, "1", class: "radio_buttons optional"
                  = "Non"
                %label.radio
                  = f.radio_button :antecedents_perso, "2", class: "radio_buttons optional"
                  = "NSP"
              .textarea-wrap
                = f.text_area :comm_antecedents_perso, class: "span4", rows: "3"
        .span5
          %h4 Antécédents Familiers
          .control-group.radio_buttons.optional.no-label
            .controls
              .radio-wrap
                %label.radio
                  = f.radio_button :antecedents_fam, "0", class: "radio_buttons optional"
                  = "Oui"
                %label.radio
                  = f.radio_button :antecedents_fam, "1", class: "radio_buttons optional"
                  = "Non"
                %label.radio
                  = f.radio_button :antecedents_fam, "2", class: "radio_buttons optional"
                  = "NSP"
              .textarea-wrap
                = f.text_area :comm_antecedents_fam, class: "span4", rows: "3"
      = f.input :tabac, collection: Dossier::TABAC,
        as: :radio_buttons, item_wrapper_class: "inline"
      = f.input :alcool, collection: Dossier::ALCOOL,
        as: :radio_buttons, item_wrapper_class: "inline"
      = f.input :toxiques, collection: Dossier::ONI,
        as: :radio_buttons, item_wrapper_class: "inline"

    #grossesse= render 'grossesse', f: f

    #expositions
      %table.fields_summary#expositions_summary
        %thead
          %tr
            %th#action
            %th#exposition Exposition
            %th#terme Terme
            %th#indication Indication
            %th Posologie
            %th De
            %th.to à
            %th Et de
            %th.to à
        %tbody

      = f.simple_fields_for :expositions do |exposition|
        = render 'exposition_fields', :f => exposition
      .links
        = link_to_add_association f, :expositions, class: "btn btn-primary btn-small" do
          %i.icon-plus.icon-white
          Ajouter Expo

    #evol= render "evolution", f: f

    #bebes
      = render "malformations/tree", bebe: f.object
      = render "pathologies/tree", bebe: f.object
      %table.fields_summary#bebes_summary
        %thead
          %tr
            %th#action
            %th Sexe
            %th Poids
            %th Taille
            %th PC
            %th Apgar (1')
            %th Apgar (5')
            %th Malformation
            %th Pathologie
        %tbody

      = f.simple_fields_for :bebes do |bebe|
        = render 'bebe_fields', :f => bebe
      .links
        = link_to_add_association f, :bebes, class: "btn btn-primary btn-small" do
          %i.icon-plus.icon-white
          Ajouter Nouveau-né
    #comm
      = f.input :commentaire, label: false, input_html: {class: "span9"}
  .actions
    = f.button :submit, disable_with: "Attendre...", class: "btn-success"
    = link_to "Annuler", dossiers_path, class: "btn btn-danger"
