= semantic_form_for dossier do |f|
  = f.semantic_errors
  #tabs
    %ul
      %li= link_to "Informations générales", "#infos"
      %li= link_to "Patiente", "#patiente"
      %li= link_to "Exposition", "#expositions"

    #infos
      = f.inputs do
        .input= f.hidden_field :user_id
        .input= f.hidden_field :centre_id
        = f.input :code
        = f.input :date_appel, as: :string,
          input_html: {autofocus: true, placeholder: "jj/mm/aaaa", value: date_appel, required: true}
        = f.input :motif
        .string.clearfix.optional.stringish#dossier_correspondant_nom_input
          = f.label :correspondant_nom, "Correspondant"
          .input= f.autocomplete_field :correspondant_nom, autocomplete_correspondant_nom_dossiers_path, id_element:  "#dossier_correspondant_id"
        .input= f.hidden_field :correspondant_id

    #patiente
      = f.inputs do
        = f.input :name, input_html: {required: true}

    #expositions
      %table#expositions_summary
        %thead
          %tr
            %th#action
            %th#exposition Exposition
            %th#terme Terme
            %th#indication Indication
            %th Posologie
            %th De
            %th.to à
            %th Et de
            %th.to à
        %tbody

      = f.inputs id: "expositions_fields" do
        = f.semantic_fields_for :expositions do |exposition|
          = render 'exposition_fields', :f => exposition
        .links
          = link_to_add_association 'Ajouter Expo', f, :expositions, class: "btn primary small"
  = f.buttons do
    = f.commit_button :button_html => {disable_with: "Attendre...", class: "success"}
    = link_to "Annuler", :back, class: "btn danger"

= content_for :footer do
  = debug "\nCentre : " + dossier.try(:centre_name) + "\nUser : " + dossier.username
