= twitter_bootstrap_form_for dossier, html: {class: "saisie"} do |f|
  = f.error_messages
  = f.hidden_field :centre_id
  = f.hidden_field :current_tab, value: params[:current_tab] || "infos"

  %ul.nav.nav-tabs#tabs
    %li= link_to "INFORMATIONS GÉNÉRALES", "#infos", data: {toggle: "pill"}
    %li= link_to "GROSSESSE", "#grossesse", data: {toggle: "pill"}
    %li= link_to "EXPOSITION", "#expositions", data: {toggle: "pill"}
    %li= link_to "ÉVOLUTION", "#evol", data: {toggle: "pill"}
    %li= link_to "NOUVEAU-NÉ", "#bebes", data: {toggle: "pill"}

  .tab-content
    #infos.tab-pane.fade.in.active= render "infos", f: f
    #grossesse.tab-pane.fade.in= render "grossesse", f: f
    #expositions.tab-pane.fade.in= render "expositions", f: f
    #evol.tab-pane.fade.in= render "evolution", f: f
    -##bebes.tab-pane.fade.in= render "bebes", f: f

  %hr

  = f.group do
    = f.label :commentaire
    = f.text_area :commentaire, rows: 2

  = button_tag type: :submit, data: {disable_with: (save_and_continue = "Enregistrer et continuer")}, name: "_continue", class: "btn btn-success" do
    %i.glyphicon.glyphicon-arrow-right
    = save_and_continue
  = button_tag type: :submit, data: {disable_with: (save_and_add = "Enregistrer et créer un nouveau dossier")}, name: "_add_another", class: "btn btn-primary" do
    %i.glyphicon.glyphicon-plus
    = save_and_add
  = button_tag type: :submit, data: {disable_with: (save_and_close = "Enregistrer et fermer")}, class: "btn btn-info" do
    %i.glyphicon.glyphicon-ok
    = save_and_close
