= simple_form_for dossier,
  html: { class: 'saisie', role: 'form' },
    wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
                        radio_buttons: :vertical_radio_and_checkboxes,
                        file: :vertical_file_input,
                        boolean: :vertical_boolean } do |f|

  = f.error_notification
  = f.hidden_field :centre_id
  = f.hidden_field :current_tab, value: params[:current_tab] || "infos"
  = f.hidden_field :show_preview, value: params[:show_preview] || "false"

  %ul.nav.nav-tabs#tabs
    %li= link_to "INFORMATIONS GÉNÉRALES", "#infos", data: {toggle: "pill"}
    %li= link_to "GROSSESSE", "#grossesse", data: {toggle: "pill"}
    %li= link_to "EXPOSITION", "#expositions", data: {toggle: "pill"}
    %li= link_to "ÉVOLUTION", "#evol", data: {toggle: "pill"}
    %li= link_to "NOUVEAU-NÉ", "#bebes", data: {toggle: "pill"}

  .tab-content
    #infos.tab-pane.fade.in.active= render "infos", f: f
    #grossesse.tab-pane.fade.in= render "grossesse", f: f
    #expositions.tab-pane.fade.in= render "expositions", f: f
    #evol.tab-pane.fade.in= render "evolution", f: f
    #bebes.tab-pane.fade.in= render "bebes", f: f

  %hr

  = f.input :commentaire, input_html: { rows: 2 }

  = button_tag type: :submit,
    data: { disable_with: (save_and_continue = 'Enregistrer et continuer') },
    name: "_continue", class: 'btn btn-primary' do
    = fa_icon 'save'
    = save_and_continue
  = button_tag type: :submit,
    data: { disable_with: (save_and_add = 'Enregistrer et créer un nouveau dossier') },
    name: '_add_another', class: 'btn btn-link' do
    = fa_icon 'plus'
    = save_and_add
  = button_tag type: :submit,
    data: { disable_with: (save_and_close = 'Enregistrer et fermer') },
    class: 'btn btn-link' do
    = fa_icon 'archive'
    = save_and_close
  = button_tag type: :submit,
    data: { disable_with: (save_and_preview = "Enregistrer et voir l'aperçu") },
    name: '_preview', class: 'btn btn-link' do
    = fa_icon 'print'
    = save_and_preview

%br

= render 'dossiers/dossier_modal'
