.row
  - %w(date_dernieres_regles date_debut_grossesse date_accouchement_prevu).each do |field|
    .col-sm-3
      .form-group
        = f.label :"#{field}", class: 'control-label'
        .input-group
          = f.text_field :"#{field}", class: 'calc_dates_grossesse form-control'
          %span.input-group-btn
            %button.btn.btn-default.clear_date{type: 'button', tabIndex: '-1'} X

  .col-sm-3
    .form-group
      = f.label :age_grossesse, class: 'control-label'
      .input-group
        = f.number_field :age_grossesse, class: 'form-control'
        %span.input-group-addon SA

.row
  .col-lg-12.col-sm-12#grossesse_date_messages

%hr

.row
  - %w(tabac alcool).each do |field|
    .col-sm-4
      = f.input :"#{field}", collection: Dossier.const_get(field.upcase)

  .col-sm-4
    = f.input :toxiques, collection: Dossier::ONI,
      hint: "A préciser dans l'onglet Exposition"

.row
  .col-sm-4
    = f.input :folique, collection: Dossier::ONI,
      hint: "Préciser éventuellement le dosage dans le commentaire"

  .col-sm-4
    = f.input :patho1t, collection: Dossier::ONI,
      hint: "Préciser la ou les pathologies dans le commentaire"

  .col-sm-4
    = f.input :ass_med_proc, collection: Dossier::ONI
