.row-fluid
  = f.input :date_dernieres_regles, wrapper: :append, wrapper_html: {class: "span3"} do
    = f.input_field :date_dernieres_regles, as: :string, class: "input-small dateITA dateNotFuture calc_dates_grossesse", "data-value" => date_dernieres_regles
    = button_tag "#", tabIndex: "-1", type: :button, class: "btn clear_date" do
      X
  = f.input :date_debut_grossesse, wrapper: :append, wrapper_html: {class: "span3"} do
    = f.input_field :date_debut_grossesse, as: :string, class: "input-small dateITA dateNotFuture calc_dates_grossesse", "data-value" => date_debut_grossesse
    = button_tag "#", tabIndex: "-1", type: :button, class: "btn clear_date" do
      X
  = f.input :date_accouchement_prevu, wrapper: :append, wrapper_html: {class: "span3"} do
    = f.input_field :date_accouchement_prevu, as: :string, class: "input-small dateITA calc_dates_grossesse", "data-value" => date_accouchement_prevu
    = button_tag "#", tabIndex: "-1", type: :button, class: "btn clear_date" do
      X
  = f.input :age_grossesse, wrapper_html: {class: "span3"}, input_html: {class: "input-mini"}

.row-fluid
  .span12#grossesse_date_messages

%hr

.row-fluid
  = f.input :tabac, as: :select, collection: Dossier::TABAC, wrapper_html: {class: "span4"}, input_html: {class: "input-large"}
  = f.input :alcool, as: :select, collection: Dossier::ALCOOL, wrapper_html: {class: "span4"}, input_html: {class: "input-large"}
  = f.input :toxiques, as: :select, collection: Dossier::ONI, wrapper_html: {class: "span4"}, input_html: {class: "input-mini"}, hint: "A préciser dans l'onglet Exposition"

.row-fluid
  = f.input :folique, as: :select, collection: Dossier::ONI, wrapper_html: {class: "span4"}, input_html: {class: "input-mini"}, hint: "Préciser éventuellement le dosage dans le commentaire"
  = f.input :patho1t, as: :select, collection: Dossier::ONI, wrapper_html: {class: "span4"}, input_html: {class: "input-mini"}, hint: "Préciser la ou les pathologies dans le commentaire"
  = f.input :ass_med_proc, collection: Dossier::ONI, wrapper_html: {class: "span4"}, input_html: {class: "input-mini"}
