= f.input :ass_med_proc, label: "Assistance médicale à la procréation", as: :radio_buttons, collection: Dossier::ONI, item_wrapper_class: "inline"

%table.table.table-condensed#dates_grossesse
  %tr
    %th.span5 Age grossesse lors de l'appel (SA)
    %td.span7= f.text_field :age_grossesse, class: "span1"
  %tr
    %th DDR
    %td= f.text_field :date_dernieres_regles, class: "span2 dateITA dateNotFuture", "data-value" => date_dernieres_regles
  %tr
    %th Date de debut de grossesse
    %td= f.text_field :date_debut_grossesse, class: "span2 dateITA dateNotFuture", "data-value" => date_debut_grossesse
  %tr
    %th Date prévue d'accouchement
    %td= f.text_field :date_accouchement_prevu, class: "span2 dateITA", "data-value" => date_accouchement_prevu
  %tr
    %td#calc_column
      = link_to "Calculer", "#", id: "calc_dates_grossesse", class: "btn btn-primary"
      = link_to "Effacer", "#", id:"reset_dates_grossesse", class: "btn btn-danger"
    %td#grossesse_date_messages

.control-group.inline-inputs
  = f.label :tabac
  .controls
    = f.collection_select :tabac, Dossier::TABAC, :last, :first, {include_blank: true}, {class: "span1"}
    %span.message{style: "display: none;"} N'oubliez pas de saisir une exposition "TABAC"

.control-group.inline-inputs
  = f.label :alcool
  .controls
    = f.collection_select :alcool, Dossier::ALCOOL, :last, :first, {include_blank: true}, {class: "span1"}
    %span.message{style: "display: none;"} N'oubliez pas de saisir une exposition "ALCOOL"

.control-group.inline-inputs
  = f.label :toxiques
  .controls
    = f.collection_select :toxiques, Dossier::ONI, :last, :first, {include_blank: true}, {class: "span1"}
    %span.message{style: "display: none;"} N'oubliez pas de saisir une exposition "toxiques"

-#= f.input :tabac, collection: Dossier::TABAC, as: :radio_buttons, item_wrapper_class: "inline"
-#= f.input :alcool, collection: Dossier::ALCOOL, as: :radio_buttons, item_wrapper_class: "inline"
-#= f.input :toxiques, collection: Dossier::ONI, as: :radio_buttons, item_wrapper_class: "inline"
