.row
  .col-sm-2
    = f.input :code
  .col-sm-2
    = f.input :date_appel, as: :string, autofocus: true,
      input_html: { 'data-value': date_appel }
  .col-sm-6
    = f.association :motif
  .col-sm-2
    = f.input :expo_terato, collection: Dossier::ONI

.row#dossier_demandeur_id_field
  .col-sm-6
    = f.simple_fields_for :demandeur do |demandeur|
      = demandeur.association :correspondant, label: 'Correspondant initial',
        input_html: { data: { 'ajax--url': correspondants_url(format: :json),
          'ajax--cache': true, placeholder: 'Choisir un correspondant' },
          style: 'width: 100%;' }

  .col-sm-4
    .correspondant-actions
      = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
        data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn btn-default corr_create", tabindex: "-1"
      = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
        edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
        title: "Modifier correspondant", class: "btn btn-default corr_update", tabindex: "-1"

  .col-sm-2
    = f.input :a_relancer, collection: %w(Oui Non)

  #relance.modal.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "relance-modal", hidden: "true"}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{tabindex: '-1', type: "button", data: {dismiss: "modal"}, 'aria-hidden': "true"} &times;
          %h4.modal-title#relance-modal Relance
        .modal-body
          %p Le correspondant est-il le même que la personne à relancer ?
        .modal-footer
          %button.btn.btn-link{data: {dismiss: "modal"}} Non
          %button.btn.btn-primary.copy-correspondant{data: {dismiss: "modal"}} Oui

.row#dossier_relance_id_field
  = f.simple_fields_for :relance do |relance|
    .col-sm-6
      = relance.association :correspondant, label: 'Correspondant à relancer',
        input_html: { data: { 'ajax--url': correspondants_url(format: :json),
          'ajax--cache': true, placeholder: 'Choisir une personne' },
          style: 'width: 100%;' }
    .col-sm-4
      .correspondant-actions
        = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
          data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn btn-default corr_create", tabindex: "-1"
        = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
          edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
          title: "Modifier correspondant", class: "btn btn-default corr_update", tabindex: "-1"

.row
  .col-sm-2
    = f.input :name
  .col-sm-2
    = f.input :prenom
  .col-sm-2
    = f.input :date_naissance, as: :string, data: { value: date_naissance }
  .col-sm-2
    = f.input :age

.row
  .col-sm-2
    .form-group
      = f.label :poids, class: 'control-label'
      .input-group
        = f.number_field :poids, class: 'form-control'
        %span.input-group-addon kg
  .col-sm-2
    .form-group
      = f.label :taille, class: 'control-label'
      .input-group
        = f.number_field :taille, class: 'form-control'
        %span.input-group-addon cm
  .col-sm-2
    .form-group
      = f.label :imc, class: 'control-label'
      .input-group
        = f.number_field :imc, class: 'form-control'
        %span.input-group-addon
          kg/m
          %sup> 2
  .col-sm-6
    = f.association :categoriesp

.row
  - %w(perso fam).each do |field|
    .col-sm-6
      .row
        .col-sm-5.col-lg-4
          = f.input :"antecedents_#{field}", collection: Dossier::ONI
        .col-sm-7.col-lg-8.comm_atcds
          = f.input :"comm_antecedents_#{field}", label: "Préciser",
            input_html: { rows: "1" }

.row
  .col-sm-4.col-lg-3
    = f.input :grsant, input_html: { class: 'grsant_coherence' }

  - [:fcs, :geu, :miu].each do |item|
    .col-sm-1
      .form-group
        = f.label item, class: 'control-label'
        = f.text_field item, class: "grsant_coherence form-control"

  - [:ivg, :img, :nai].each do |item|
    .col-sm-1
      .form-group
        = f.label item, class: 'control-label'
        = f.text_field item, class: 'grsant_coherence form-control'
