.row
  .col-sm-2
    = f.group do
      = f.label :code
      = f.text_field :code
  .col-sm-2
    = f.group do
      = f.label :date_appel
      = f.text_field :date_appel, autofocus: true, "data-value" => date_appel
  .col-sm-6
    = f.group do
      = f.label :motif_id
      = f.collection_select :motif_id, Motif.all, :id, :name, {include_blank: true}
  .col-sm-2
    = f.group do
      = f.label :expo_terato
      = f.collection_select :expo_terato,  Dossier::ONI, :to_s, :to_s, include_blank: true

.row#dossier_demandeur_id_field
  .col-sm-6
    = f.fields_for :demandeur do |demandeur|
      = f.group do
        = demandeur.label :correspondant_id, "Correspondant initial"
        = demandeur.hidden_field :correspondant_id, data: {placeholder: "Choisir un correspondant",
          load: demandeur.object.correspondant.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}

  .col-sm-4
    .correspondant-actions
      = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
        data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn btn-default corr_create", tabindex: "-1"
      = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
        edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
        title: "Modifier correspondant", class: "btn btn-default corr_update", tabindex: "-1"

  .col-sm-2
    = f.group do
      = f.label :a_relancer, "Relance"
      = f.collection_select :a_relancer, %w(Oui Non), :to_s, :to_s, {include_blank: true}

  #relance.modal.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "relance-modal", hidden: "true"}}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
          %h4.modal-title#relance-modal Relance
        .modal-body
          %p Le correspondant est-il le même que la personne à relancer ?
        .modal-footer
          %button.btn.btn-primary.copy-correspondant{data: {dismiss: "modal"}} Oui
          %button.btn.btn-default{data: {dismiss: "modal"}} Non

.row#dossier_relance_id_field
  = f.fields_for :relance do |relance|
    .col-sm-6
      = f.group do
        = relance.label :correspondant_id, "Correspondant à relancer"
        = relance.hidden_field :correspondant_id, data: {placeholder: "Choisir une personne",
          load: relance.object.correspondant.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}
    .col-sm-4
      .correspondant-actions
        = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
          data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn btn-default corr_create", tabindex: "-1"
        = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
          edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
          title: "Modifier correspondant", class: "btn btn-default corr_update", tabindex: "-1"

.row
  .col-sm-2
    = f.group do
      = f.label :name
      = f.text_field :name
  .col-sm-2
    = f.group do
      = f.label :prenom
      = f.text_field :prenom
  .col-sm-2
    = f.group do
      = f.label :date_naissance
      = f.date_field :date_naissance, data: {value: date_naissance}
  .col-sm-2
    = f.group do
      = f.label :age
      = f.number_field :age

.row
  .col-sm-2
    = f.group do
      = f.label :poids
      = f.input_group do
        = f.number_field :poids
        %span.input-group-addon kg
  .col-sm-2
    = f.group do
      = f.label :taille
      = f.input_group do
        = f.number_field :taille
        %span.input-group-addon cm
  .col-sm-2
    = f.group do
      = f.label :imc
      = f.input_group do
        = f.number_field :imc
        %span.input-group-addon
          kg/m
          %sup> 2
  .col-sm-6
    = f.group do
      = f.label :categoriesp_id
      = f.collection_select :categoriesp_id, Categoriesp.all, :id, :name, include_blank: true

.row
  - %w(perso fam).each do |field|
    .col-sm-6
      .row
        .col-sm-5.col-lg-4
          = f.group do
            = f.label :"antecedents_#{field}"
            = f.collection_select :"antecedents_#{field}", Dossier::ONI, :to_s, :to_s, include_blank: true
        .col-sm-7.col-lg-8.comm_atcds
          = f.group do
            = f.label :"comm_antecedents_#{field}", "Préciser"
            = f.text_area :"comm_antecedents_#{field}", rows: "1"

.row
  .col-sm-4.col-lg-3
    = f.group do
      = f.label :grsant
      = f.text_field :grsant, class: "grsant_coherence"
  - [:fcs, :geu, :miu].each do |item|
    .col-sm-1
      = f.group do
        = f.label item
        = f.text_field item, class: "grsant_coherence"

  - [:ivg, :img, :nai].each do |item|
    .col-sm-1
      = f.group do
        = f.label item
        = f.text_field item, class: "grsant_coherence"
