.row-fluid
  .span2
    = f.input :code, input_html: {class: "input-small"}
  .span2
    = f.input :date_appel, as: :string, input_html: {class: "input-small dateITA dateNotFuture",
      autofocus: true, "data-value" => date_appel}
  .span6
    = f.association :motif, input_html: {class: "input-xxlarge combobox", data: {placeholder: "Choisir un motif d'appel"}}
  .span2
    = f.input :expo_terato, as: :select, collection: Dossier::ONI, input_html: {class: "input-mini"}

.row-fluid#dossier_demandeur_id_field
  = f.simple_fields_for :demandeur do |demandeur|
    .span6
      .control-group
        = demandeur.label :correspondant_id, "Correspondant initial"
        .controls
          = demandeur.hidden_field :correspondant_id, class: "input-xxlarge", data: {placeholder: "Choisir un correspondant",
            load: demandeur.object.correspondant.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}

    .span4
      %label &nbsp;
      .btn-group
        = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
          data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn corr_create"
        = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
          edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
          title: "Modifier correspondant", class: "btn corr_update"

  .span2
    = f.input :a_relancer, collection: %w(Oui Non), input_html: {class: "input-mini"}

  #relance.modal.hide.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "relance-modal", hidden: "true"}}
    .modal-header
      %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
      %h3#relance-modal Relance
    .modal-body
      %p Le correspondant est-il le même que la personne à relancer ?
    .modal-footer
      %button.btn.btn-primary.copy-correspondant{data: {dismiss: "modal"}} Oui
      %button.btn{data: {dismiss: "modal"}} Non

.row-fluid#dossier_relance_id_field
  = f.simple_fields_for :relance do |relance|
    .span6
      .control-group
        = relance.label :correspondant_id, "Correspondant à relancer"
        .controls
          = relance.hidden_field :correspondant_id, class: "input-xxlarge", data: {placeholder: "Choisir une personne",
            load: relance.object.correspondant.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}
    .span4
      %label &nbsp;
      .btn-group
        = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
          data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn corr_create"
        = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
          edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
          title: "Modifier correspondant", class: "btn corr_update"

.row-fluid
  .span2
    = f.input :name, input_html: {class: "span10"}
  .span2
    = f.input :prenom, input_html: {class: "span10"}
  .span2
    = f.input :date_naissance, as: :string, input_html: {class: "span10 dateITA dateNotFuture", data: {value: date_naissance}}
  .span1
    = f.input :age, input_html: {class: "span10"}

.row-fluid
  .span2
    = f.input :poids, wrapper: :append do
      = f.input_field :poids, class: "span4"
      %span.add-on kg
  .span2
    = f.input :taille, wrapper: :append do
      = f.input_field :taille, class: "span4"
      %span.add-on cm
  .span2
    = f.input :imc, wrapper: :append do
      = f.input_field :imc, class: "span4"
      %span.add-on
        kg/m
        %sup> 2
  .span5
    = f.association :categoriesp, input_html: {class: "span10 combobox", data: {placeholder: "Choisir une C.S.P."}}

- %w(perso fam).each do |field|
  .row-fluid
    .span3
      = f.input :"antecedents_#{field}", collection: Dossier::ONI, input_html: {class: "span4"}
    .span9.comm_atcds
      = f.input :"comm_antecedents_#{field}", label: "Préciser", input_html: {class: "span11", rows: "1"}

%table#grossesses_anterieures
  %tbody
    %tr
      %th{colspan: "5"}= t(:grsant, scope: "activerecord.attributes.dossier")
      %td= f.text_field :grsant, class: "span1"
    %tr
      - [:fcs, :geu, :miu].each do |item|
        %th= item.to_s.upcase
        %td= f.text_field item, class: "span1"
    %tr
      - [:ivg, :img, :nai].each do |item|
        %th= item.to_s.upcase
        %td= f.text_field item, class: "span1"
