.row-fluid
  .span2
    = f.input :code, input_html: {class: "input-small"}
  .span2
    = f.input :date_appel, as: :string, input_html: {class: "input-small dateITA dateNotFuture",
      autofocus: true, "data-value" => date_appel}
  .span6
    = f.association :motif, input_html: {class: "input-xxlarge combobox", data: {placeholder: "Choisir un motif d'appel"}}
  .span2
    = f.input :expo_terato, as: :select, collection: Dossier::ONI, input_html: {class: "input-mini"}

.row-fluid#dossier_demandeur_id_field
  .span6
    .control-group
      = f.label :demandeur_id
      .controls
        = f.hidden_field :demandeur_id, class: "input-xxlarge", data: {placeholder: "Choisir un correspondant",
          load: f.object.demandeur.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}
  .span4
    %label &nbsp;
    .btn-group
      = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
        data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn corr_create"
      = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
        edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
        title: "Modifier correspondant", class: "btn corr_update"
  .span2
    = f.input :a_relancer, collection: %w(Oui Non), input_html: {class: "input-mini"}
    #relance.modal.hide.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "relance-modal", hidden: "true"}}
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}} &times;
        %h3#relance-modal Relance
      .modal-body
        %p Le correspondant est-il le même que la personne à relancer ?
      .modal-footer
        %button.btn.btn-primary.copy-correspondant{data: {dismiss: "modal"}} Oui
        %button.btn{data: {dismiss: "modal"}} Non

.row-fluid#dossier_relance_id_field
  .span6
    .control-group
      = f.label :relance_id
      .controls
        = f.hidden_field :relance_id, class: "input-xxlarge", data: {placeholder: "Choisir une personne",
          load: f.object.relance.try(:fullname_and_id).to_json, source: correspondants_url(format: :json)}
  .span4
    %label &nbsp;
    .btn-group
      = link_to content_tag(:i, nil, class: "icon-plus") + "Ajout", new_correspondant_path(modal: true),
        data: {target: "#correspondant_modal", toggle: "modal"}, title: "Nouveau correspondant", class: "btn corr_create"
      = link_to content_tag(:i, nil, class: "icon-pencil") + "Voir/modifier",
        edit_correspondant_path(id: "__ID__", modal: true), data: {target: "#correspondant_modal", toggle: "modal"},
        title: "Modifier correspondant", class: "btn corr_update"

.row-fluid
  = f.input :name, wrapper_html: {class: "span2"}, input_html: {class: "span2"}
  = f.input :prenom, wrapper_html: {class: "span2"}, input_html: {class: "span2"}
  = f.input :date_naissance, as: :string, wrapper_html: {class: "span2"}, input_html: {class: "input-small dateITA dateNotFuture", "data-value" => date_naissance}
  = f.input :age, wrapper_html: {class: "span1"}, input_html: {class: "input-mini"}

.row-fluid
  = f.input :poids, wrapper_html: {class: "span2"}, wrapper: :append do
    = f.input_field :poids, class: "input-mini"
    %span.add-on kg
  = f.input :taille, wrapper_html: {class: "span2"}, wrapper: :append do
    = f.input_field :taille, class: "input-mini"
    %span.add-on cm
  = f.input :imc,  wrapper_html: {class: "span2"}, wrapper: :append do
    = f.input_field :imc, disabled: true, class: "input-mini"
    %span.add-on
      kg/m
      %sup> 2
  = f.association :categoriesp, wrapper_html: {class: "span5"}, input_html: {class: "input-xlarge combobox", data: {placeholder: "Choisir une C.S.P."}}

.row-fluid
  - %w(perso fam).each do |field|
    .span6
      .control-group
        = f.label "antecedents_#{field}"
        .controls.controls-row
          = f.collection_select "antecedents_#{field}", Dossier::ONI, :last, :first, {}, include_blank: true, class: "span1"
          = f.text_area "comm_antecedents_#{field}", style: "display: none;", class: "span4", rows: "1"

%table#grossesses_anterieures
  %tbody
    %tr
      %th{colspan: "5"}= t(:grsant, scope: "activerecord.attributes.dossier")
      %td= f.text_field :grsant, class: "span1"
    %tr
      - [:fcs, :geu, :miu].each do |item|
        %th= item.to_s.upcase
        %td= f.text_field item, class: "span1"
    %tr
      - [:ivg, :img, :nai].each do |item|
        %th= item.to_s.upcase
        %td= f.text_field item, class: "span1"
