- title

= search_form_for @search, :html => {:class => "formtastic"} do |f|
  %fieldset.inputs
    %ol
      %li.string
        = f.label :name_cont
        = f.text_field :name_cont
  %fieldset.buttons
    %ol
      %li.commit.button
        = f.submit

- if @dossiers.any?
  %h3= t('.first_10_results')
  %table.pretty
    %thead
      %th= sort_link @search, :date_appel, {}
      %th= sort_link @search, :name, {}
      %th N° Appel
      %th Actions
    %tbody
      - @dossiers.each do |dossier|
        %tr
          %td= l dossier.date_appel
          %td= dossier.name
          %td= link_to dossier.code, dossier if can? :read, dossier
          %td= render 'shared/action_links', :object => dossier, :verbs => %w(show edit destroy)
