- title "Exploitation - Recherche avancée"

= search_form_for @search, as: :search, url: searches_path, html: {method: :post, role: "search"} do |f|
  - setup_search_form f

  %fieldset.fields
    %legend Groupes de critères
    = f.grouping_fields do |g|
      = render 'grouping_fields', f: g
    = button_to_add_fields "Ajouter un Groupe", f, :grouping

  = f.submit "Rechercher", class: "btn btn-primary", name: nil
