- present @dossier do |dossier|
  .dossier_fiche
    .row-fluid
      .span4
        %span.libelle Date Appel
        = dossier.date_appel
      .span6
        %span.libelle Motif
        = dossier.motif_name
      .span2
        %span.libelle Témoin
        = dossier.expo_terato
    .row-fluid
      .span6
        %span.libelle Correspondant initial
        = dossier.demandeur
      - if dossier.a_relancer == "Oui"
        .span6
          %span.libelle Correspondant à relancer
          = dossier.relance
    .row-fluid
      .span12
        %span.libelle Patiente
        = dossier.patiente
        = dossier.patient_data
    %h4 Antécédents
    .row-fluid
      .span4
        %span.libelle Personnels
        = dossier.atcds_perso
      .span4
        %span.libelle Familiaux
        = dossier.atcds_fam
      .span4
        %span.libelle Grossesses
        = dossier.atcds_grs
    %h4 Grossesse en cours
    .row-fluid
      .span4
        %span.libelle Age grossesse lors appel
        = dossier.age_grossesse
      .span4
        %span.libelle Début grossesse
        = dossier.date_debut_grossesse
      .span4
        %span.libelle Accouchement prévu
        = dossier.date_accouchement_prevu
    .row-fluid
      .span4
        %span.libelle Tabac
        = dossier.tabac
      .span4
        %span.libelle Alcool
        = dossier.alcool
      .span3
        %span.libelle Autres toxiques
        = dossier.toxiques
    .row-fluid
      .span4
        %span.libelle Acide folique
        = dossier.folique
      .span4
        %span.libelle Pathologie(s) T1
        = dossier.patho1t
      .span3
        %span.libelle AMP
        = dossier.ass_med_proc
    %h4 Expositions
    .row-fluid
      .span4
        %strong Produit
      .span4
        %strong Indication
      .span2
        %strong Posologie
      .span2
        %strong Terme
    - @dossier.expositions.each do |expo|
      .row-fluid
        .span4= expo.produit
        .span4= expo.indication
        .span2= expo.expo_terme
        .span2= expo.dose

    %h4 Evolution
    .row-fluid
      .span3
        %span.libelle Date recueil
        = dossier.date_recueil_evol
      .span3
        %span.libelle Evolution
        = dossier.evolution
      .span2
        %span.libelle Terme
        = dossier.terme
      .span4
        %span.libelle Date accouchement
        = dossier.date_reelle_accouchement
    %h4 Nouveau(x)-né(s)
    .row-fluid
      .span1
        %strong Age
      .span1
        %strong Sexe
      .span1
        %strong Poids
      .span1
        %strong Taille
      .span1
        %strong PC
      .span1
        %strong Apgar
      .span3
        %strong Malformation
      .span3
        %strong Pathologie
    - @dossier.bebes.each do |bebe|
      .row-fluid
        .span1= bebe.age
        .span1= bebe.sexe
        .span1= bebe.poids
        .span1= bebe.taille
        .span1= bebe.pc
        .span1= bebe.apgar
        .span3= bebe.malformation
        .span3= bebe.pathologie
    %h4 Commentaire
    = dossier.commentaire
