- title(nil, true, :id => @dossier.code)

- content_for :page_title do
  %small Actions :
  = render "shared/action_links", :object => @dossier, :verbs => %w(edit destroy)

%p= @dossier.name
%p= @dossier.date_appel
%h4 Bébés
- if @dossier.bebes.any?
  - @dossier.bebes.each_with_index do |bebe, index|
    %h5 Bébé #{index+1}
    %p Malformations : #{bebe.malformation_names}
    %p Pathologies : #{bebe.pathologie_names}
