= simple_form_for correspondant, html: {role: "form", data: {title: form_title}} do |f|
  = f.error_notification if f.error_notification
  = f.input :centre_id, as: :hidden
  = f.association :formule
  = f.input :nom, label: "NOM et Prénom"
  = f.association :specialite, label: "Spécialité"
  = f.association :qualite, label: "Qualité"
  = f.input :adresse, input_html: {rows: "3"}
  = f.input :cp, label: "Code Postal"
  = f.input :ville
  = f.input :email
  = f.input :telephone, label: "Téléphone"
  = f.input :fax
  .form-actions
    = f.button :submit, data: {disable_with: "Attendre..."}, class: "btn-success"
    = button_tag "Annuler", type: :submit, class: "btn btn-danger"
