%h3= t('sessions.password_resets.forgot_password')

= form_tag password_resets_path, :method => :post do
  .field
    = label_tag t('sessions.password_resets.email')
    = text_field_tag :email
    = submit_tag t('sessions.password_resets.reset_password')
