%h1= t('.login')

= form_tag sessions_path do
  .field
    = label_tag t('.username')
    = text_field_tag :username, params[:username]
  .field
    = label_tag t('.password')
    = password_field_tag :password
  .field
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag t('.remember_me')
  %p
    = link_to t('.forgot_password'), new_password_reset_path
  .actions
    = submit_tag t('.login')
