- title 'Inscription'

.row
  .col-md-6.col-md-offset-3
    = simple_form_for resource,
      as: resource_name, url: registration_path(resource_name),
        wrapper_mappings: { check_boxes: :vertical_radio_and_checkboxes,
                            radio_buttons: :vertical_radio_and_checkboxes,
                            file: :vertical_file_input,
                            boolean: :vertical_boolean } do |f|

      = f.error_notification

      = f.input :username, input_html: { autofocus: true }
      = f.input :email
      = f.association :centre
      = f.input :password,
        hint: ("#{@minimum_password_length} caractères minimum" if @validatable)
      = f.input :password_confirmation

      = f.button :submit, t('.submit'),
        data: { disable_with: t('.submit') }, class: 'btn-primary'

      %br

      = render 'devise/shared/links'
