- the_title = @user == current_user ? "Modifier vos identifiants" : nil
- title(the_title, true, :id => @user.to_param)

= semantic_form_for [@centre, @user] do |f|
  = f.inputs do
    = render 'fields', :f => f, :user => @user
    = f.input :current_password,:as => :password
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  = f.buttons :commit
