%div{id: "dossier_#{dossier.id}_modal", class: "dialog", "data-show" => dossier_url(dossier), "data-edit" => can?(:update, dossier) ? edit_dossier_url(dossier) : nil, "data-title" => "Dossier #{dossier.code}#{' - ' + dossier.centre_name if Rails.env.development?}" }
  .my-table
    .row
      .span4
        %span.libelle Date Appel
        = dossier.date_appel
      .span4
        %span.libelle Motif
        = dossier.motif_name
      .span3
        %span.libelle Témoin
        = dossier.expo_terato
    .row
      .span4
        %span.libelle Patiente
        = dossier.patiente
      .span4
        %span.libelle Age
        = dossier.age
    .row
      .span4
        %span.libelle Age grossesse lors appel
        = dossier.age_grossesse
      .span4
        %span.libelle Début grossesse
        = dossier.date_debut_grossesse
      .span3
        %span.libelle Accouchement prévu
        = dossier.date_accouchement_prevu
    .row
      .span12
        %span.libelle Exposition
        = dossier.produits_names
    .row
      .span4
        %span.libelle Tabac
        = dossier.tabac
      .span4
        %span.libelle Alcool
        = dossier.alcool
      .span3
        %span.libelle Autres toxiques
        = dossier.toxiques
    .row
      .span4
        %span.libelle Evolution
        = dossier.evolution_name
      .span4
        %span.libelle Terme
        = dossier.terme
    = dossier.liste_bebes
