- title

= form_tag @dossier, :method => :get do
  %fieldset{class: "search"}
    = label_tag "Rechercher ou saisir un dossier par numéro d'appel"
    = autocomplete_field_tag "dossier_code", '', home_autocomplete_dossier_code_path
    = hidden_field_tag params[:dossier_code]
    = submit_tag "OK", :name => nil
