- title 'Terappel', 'Gestion des appels grossesse'

.well.well-lg
  = link_to new_dossier_path, class: "btn btn-success btn-lg" do
    = fa_icon 'plus'
    Saisir un dossier
  - if Dossier.any?
    = link_to dossiers_path, class: "btn btn-primary btn-lg" do
      = fa_icon 'search'
      Rechercher un dossier
    = link_to new_search_path, class: "btn btn-warning btn-lg" do
      = fa_icon 'bar-chart'
      Exploitation
  - if current_user.admin?
    .btn-group
      %button{type: "button", class: "btn btn-info btn-lg"}
        = fa_icon 'cog'
        Administration
      %button{type: "button", class: "btn btn-info btn-lg dropdown-toggle", data: {toggle: "dropdown"}}
        %span.caret
      = render 'layouts/admin_nav'
