- title t("devise.shared.sign_in")

= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.inputs do
    = f.input :username, input_html: {class: "span4"}
    = f.input :password, input_html: {class: "span4"}
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean
  = f.buttons do
    = f.commit_button :connect,  button_html: {disable_with: "Attendre...", class: "success"}

= render :partial => "devise/shared/links"
