.form-group
  = f.label :name, "Libéllé", class: "sr-only"
  = f.text_field :name, placeholder: "libellé", class: "form-control"
.form-group
  = f.label :oldid, "Vieux ID", class: "sr-only"
  = f.number_field :oldid, placeholder: "vieux id", class: "form-control" if f.object.respond_to?(:oldid)
= f.submit "Enregistrer", class: "btn btn-primary"
