- setup_search_form f

%fieldset.fields
  %legend Groupes de critères
  = f.grouping_fields do |g|
    = render 'grouping_fields', f: g
  = button_to_add_fields "Ajouter un Groupe", f, :grouping

= f.submit "Rechercher", class: "btn btn-primary", name: nil
-#
  = f.hidden_field :centre_id, value: current_user.centre_id
  .form-group
    = f.label :local, "Type recherche", class: "col-sm-2 control-label"
    .col-sm-10
      - [["Locale", true], ["Nationale", false]].each do |local_choice|
        %label.radio-inline
          = f.radio_button :local, local_choice[1]
          = local_choice[0]

  .form-group
    = f.label "Date Appel", class: "col-sm-2 control-label"
    .col-sm-3
      = f.label :min_date_appel, class: "sr-only"
      .input-group
        %span.input-group-addon du
        = f.text_field :min_date_appel, class: "form-control", "data-value" => min_date_appel
    .col-sm-3
      = f.label :max_date_appel, class: "sr-only"
      .input-group
        %span.input-group-addon au
        = f.text_field :max_date_appel, class: "form-control", "data-value" => max_date_appel

  .form-group
    = f.label :motif_id, class: "col-sm-2 control-label"
    .col-sm-6
      = f.collection_select :motif_id, Motif.all, :id, :name, {include_blank: true}, class: "form-control"

  .form-group
    = f.label :expo_nature_id, "Nature expo", class: "col-sm-2 control-label"
    .col-sm-6
      = f.collection_select :expo_nature_id, ExpoNature.all, :id, :name, {include_blank: true}, class: "form-control"

  .form-group
    = f.label :expo_type_id, "Type expo", class: "col-sm-2 control-label"
    .col-sm-6
      = f.collection_select :expo_type_id, ExpoType.all, :id, :name, {include_blank: true}, class: "form-control"

  .form-group
    = f.label :expo_terme_id, "Termes expo", class: "col-sm-2 control-label"
    .col-sm-6
      = f.collection_select :expo_terme_id, ExpoTerme.all, :id, :name, {include_blank: true}, class: "form-control"

  - %w(dci produit).each do |name|
    .form-group
      = f.label :"#{name}_tokens", name.pluralize.titleize, class: "col-sm-2 control-label"
      .col-sm-6
        = f.hidden_field :"#{name}_tokens", class: "#{name}_tokens",
          value: (items = f.object.send(:"#{name}s")).map(&:id).join(","),
          data: {load: items.map(&:name_and_id).to_json, placeholder: "Choisir les #{name}s"}

  .form-group
    = f.label :indication_id, class: "col-sm-2 control-label"
    .col-sm-6
      = f.hidden_field :indication_id, class: "indication_autocomplete",
        data: {load: f.object.send(:indication).try(:name_and_id), placeholder: "Saisir une indication"}

  .form-group
    = f.label :malformation, "Malformations", class: "col-sm-2 control-label"
    .col-sm-2
      = f.collection_select :malformation, Dossier::ONI, :to_s, :to_s, {include_blank: true}, class: "form-control"

  .form-group
    = f.label :pathology, "Pathologies", class: "col-sm-2 control-label"
    .col-sm-2
      = f.collection_select :pathology, Dossier::ONI, :to_s, :to_s, {include_blank: true}, class: "form-control"
