- title "Résultats de la recherche"

= debug @dossiers.all.inspect if Rails.env.development?

.row
  .span9
    .well.search-params
      %h4 Paramètres de recherche
      %ul
        - @search.search_params.each do |k, v|
          %li
            %span.libelle= t('attributes.search.' + k)
            = v
  .span3
    .actions
      = link_to edit_search_path(@search), class: "btn-primary" do
        %i.icon-white.icon-pencil
        Modifier la recherche
      = link_to search_path(@search, format: :csv) do
        %i.icon-download-alt
        Exporter fichier csv
      = link_to new_search_path do
        %i.icon-plus
        Nouvelle recherche

%hr

= render "dossiers/dossiers", dossiers: @dossiers
