%p= t 'devise.mailer.hello', user: @resource.username
%p= t 'devise.mailer.someone_requested', reason: t('.reason')
%p= t '.intro'
%p= link_to t('.link'), edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p= t 'devise.mailer.please_ignore', reason: t('.reason')
%p= t '.password_wont_change'
