= form_for [:admin, user], html: {class: "form-horizontal", role: "form"} do |f|
  = render "error_message", model: user

  .form-group
    = f.label :username, "Nom d'utilisateur", class: "col-sm-2 control-label"
    .col-sm-3
      = f.text_field :username, class: "form-control"

  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-3
      = f.email_field :email, class: "form-control"

  .form-group
    = f.label :centre_id, "CRPV", class: "col-sm-2 control-label"
    .col-sm-3
      = f.collection_select :centre_id, Centre.all, :id, :name, {}, class: "form-control"

  .form-group
    = f.label :roles, class: "col-sm-2 control-label"
    .col-sm-10
      - Role.all.each do |role|
        %label.checkbox-inline
          = check_box_tag "user[role_ids][]", role.id, user.role_ids.include?(role.id), id: dom_id(role)
          = role.name

  .form-group
    .col-sm-offset-2.col-sm-6
      .btn-group
        = f.submit "Enregistrer", data: {disable_with: "Enregistrer"}, class: "btn btn-success"
        = link_to "Retour à la liste", admin_users_path, class: "btn btn-default"
