= semantic_form_for user do |f|
  = f.semantic_errors :base
  = f.inputs do
    = render 'fields', :f => f, :user => user
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  = f.buttons :commit
