%ul.dropdown-menu
  %li= link_to "Tables générales", admin_tables_generales_path if can?(:dashboard, :thesaurus)
  %li= link_to "Produits", admin_produits_path if can?(:update, :produits)
  %li= link_to "Correspondants", "#"
  %li= link_to "Malformations", "#"
  %li= link_to "Pathologies", "#"
  %li.divider
  %li= link_to "Utilisateurs", admin_users_path
