%header.navbar.navbar-inverse.navbar-fixed-top{role: "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{data: {toggle: "collapse", target: ".terappel-navbar-collapse"}}
        %span.sr-only Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Terappel", root_path, class: "navbar-brand"

    - if current_user
      %nav.collapse.navbar-collapse.terappel-navbar-collapse{role: "navigation"}
        %ul.nav.navbar-nav
          = render 'layouts/qsearch'
          %li{class: request.path =~ /dossiers$/ ? "active" : nil}= link_to "Recherche", dossiers_path
          %li{class: request.path =~ /search/ ? "active" : nil}= link_to "Exploitation", search_dossiers_path
          %li{class: request.path =~ /relance/ ? "active" : nil}= link_to "Relance", "#"
          %li.dropdown{class: request.path =~ /admin/ ? "active" : nil}
            = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
              Administration
              %b.caret
              = render 'layouts/admin_nav'
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do
              = fa_icon 'user'
              %b.caret
            %ul.dropdown-menu
              %li.dropdown-header= current_user.username
              %li
                = link_to 'Modifier votre compte',
                  edit_user_registration_path, title: 'Modifier compte'
              %li= link_to 'Se déconnecter', logout_path
