!!! 5
%html
%head
  %title= yield(:title) || "Untitled"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  %meta{"http-equiv"=>"Content-Type", :content =>"text/html; charset=utf-8"}/
  = csrf_meta_tags

  = yield(:head)

%body{:class => params[:controller]}
  #page_container
    %header#page_header
      %nav#user_nav
        - if current_user
          = "#{t('sessions.greet')} #{current_user.username}"
          = link_to t('sessions.logout'), logout_path
    %section#page
      - flash.each do |name, msg|
        = content_tag :section, msg, :id => "flash_#{name}"

      %h1#page_title= yield(:title) if show_title?

      = yield

    %footer#page_footer
