!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if (gte IE 9)|!(IE)] <!--><html lang="en"> <!--

%head

  / Basic Page Needs

  %meta{:charset => "utf-8"}/
  %title= yield(:title) || "Untitled"
  /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  / Mobile Specific Metas
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

  / CSS
  = stylesheet_link_tag    "application"
  /[if IE 6]
    = stylesheet_link_tag 'ie6'
  /[if IE 7]
    = stylesheet_link_tag 'ie7'

  = javascript_include_tag "application"
  = csrf_meta_tags
  / Favicons

  %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
  %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  = yield(:head)

%body{:class => params[:controller]}

  .topbar
    .fill
      .container
        = link_to "Terappel", root_path, class: "brand"
        - if current_user
          %ul.nav
            %li= link_to t('admin.dashboard.pagename'), rails_admin_path if can? :access, :rails_admin
          %ul.nav.right= render 'layouts/user_nav'

  .container
    .content
      .page-header
        #flash
          - flash.each do |name, msg|
            = content_tag :section, msg, :id => "flash_#{name}"
        %h1#page_title= yield(:title) if show_title?

      = yield

      %footer#page_footer
        - if Rails.env.development?
          %details
            = debug params
            = yield(:footer)
