!!! 5
%head

  / Basic Page Needs
  %meta{:charset => "utf-8"}/
  %title= yield(:title) || "Untitled"

  :plain
    <!-- if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  / Mobile Specific Metas
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

  / CSS
  = stylesheet_link_tag    "application"

  = javascript_include_tag "application"
  = csrf_meta_tags
  / Favicons

  %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
  %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  = yield(:head)

%body{:class => params[:controller]}

  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Terappel", root_path, class: "brand"
        - if current_user
          = render 'layouts/search'
          %ul.nav
            %li.dropdown
              = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
                Recherche
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Recherche Simple", dossiers_path
                %li= link_to "Recherche Avancée", "#"

            %li= link_to t('admin.dashboard.pagename'), rails_admin_path if can? :access, :rails

          %ul.nav.pull-right= render 'layouts/user_nav'

  .container
    .content
      .page-header
        - flash && flash.each do |key, value|
          .alert.fade.in{:class => "alert-#{key}"}
            %a.close{"data-dismiss" => "alert"} &times;
            = value
        %h1#page_title
          = yield(:title) if show_title?
          = yield(:page_title)

      = yield

      %footer#page_footer
        - if Rails.env.development?
          %details
            = debug params
            = yield(:footer)
