!!! 5
%head
  %meta{charset: "utf-8"}/
  %title= yield(:title) || "Terappel"

  %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome1"}
  :plain
    <!-- if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/

  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  = favicon_link_tag

  %script{type: "text/javascript"}
    $(function() {
    = yield :document_ready
    });
  = yield(:head)

%body{class: params[:controller]}
  = render 'layouts/navigation'

  %main{role: "main", id: "page_wrap"}
    - flashes = {alert: "warning", notice: "info", error: "danger"}
    - flash && flash.each do |name, msg|
      .flash.alert.fade.in{class: "alert-#{flashes[:"#{name}"]}"}
        %a.close{"data-dismiss" => "alert", href: "#"} &times;
        %strong= msg
    .container
      #page_header
        %header
          %h1.page-header
            = yield(:title) if show_title?
            %small= yield(:subtitle)

      = yield

  #footer_wrap
    .container
      .row#page_footer
        %footer
          .col-sm-4.col-sm-offset-8.col-sm-4.col-sm-offset-8
            Copyright Terappel #{Date.today.year}
