!!!
%html{lang: 'fr'}
  %head
    %title
      Terappel
      = yield :title

    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %script{type: 'text/javascript'}
      $(function() {
      = yield :document_ready
      });
    = yield(:head)

  %body{class: params[:controller]}
    = render 'layouts/navigation'

    %main{role: 'main', id: 'page_wrap'}
      = render 'messages'

      .container
        #page_header
          %header
            %h1.page-header.text-center
              = yield(:title) if show_title?
              %small= yield(:subtitle)

        = yield

    #footer_wrap
      .container
        .row#page_footer
          %footer
            .col-sm-4.col-sm-offset-8.col-sm-4.col-sm-offset-8
              Copyright Terappel #{Date.current.year}
